body{background:rgb(239, 239, 239);font-family:Arial;-webkit-font-smoothing:antialiased;margin:0;-webkit-user-select:none;-moz-user-select:none;user-select:none}.header,header{background:#00A185;position:fixed;top:0;left:0;width:100%;height:60px;border-bottom:1px solid #006755;box-shadow: 0 0 15px 1px black;color:#fff;padding-left:20px;z-index:5000}.header,header:hover{box-shadow: 0px 0px 25px 5px #000}.logo, logo{position:absolute;width:315px;height:60px;cursor:pointer;font-size:50px;opacity:0.5;color:#fff}.logo,logo:hover{opacity:1}.content{width:100%;height:calc(100% - 60px);top:60px;position:fixed;overflow-x:hidden;overflow-y:scroll}.article,article{margin:15px 8px 8px 8px;-webkit-user-select:initial;-moz-user-select:initial;user-select:initial}comments{margin:15px 8px 8px 8px}

.h1, h1{font-size:80px;font-weight:bold;color:#00A185;margin:25px 0px 0px 0px}.h2, h2{font-size:70px;font-weight:bold;color:#333;margin:25px 0px 0px 0px}
.h3, h3{font-size:60px;font-weight:bold;color:#333;margin:25px 0px 0px 0px}
.h4, h4{font-size:50px;font-weight:bold;color:#333;margin:25px 0px 0px 0px}
.h5, h5{font-size:40px;font-weight:bold;color:#333;margin:25px 0px 0px 0px}
.h6, h6{font-size:30px;font-weight:bold;color:#333;margin:25px 0px 0px 0px}

.badge{background-color:#e7534f;font-family:Arial;font-weight:bold;padding:3px 8px;border-radius:3px;color:#fff;position:relative;margin-left:8px;display:inline}
h1 .badge{font-size:40px;top:-14px}h2 .badge{font-size:35px;top:-12px}h3 .badge{font-size:30px;top:-12px}h4 .badge{font-size:25px;top:-10px}h5 .badge{font-size:20px;top:-8px}h6 .badge{font-size:15px;top:-6px}
.badge.blue{background-color:#5b6ed6}.badge.green{background-color:#53a93f}
.badge.mini{font-size:7px;-webkit-user-select:none;-moz-user-select:none;user-select:none}

.p,p{color:#585b55;font-weight:bold;font-size:12px}.span,span{color:#888;font-size:10px}.blockquote,blockquote{padding:10px;background:#d6d6d6;color:#585b55;font-size:12px;font-weight:bold}

div.caption{border:1px solid #333;padding:3px;max-width:100%;display:inline-block;height:auto}
div.caption img{display:block;padding:0;margin:0;width:100%;height:auto}
div.caption span{color:#333;font-size:14px}
img.align-left, .img-wrap.align-left{float:left;margin:0 10px 5px 0}
img.align-right, .img-wrap.align-right{float:right;margin:0 0 5px 10px}
img.full-width{clear:both;display:block;width:100%;height:auto;margin:0 0 10px 0}

.textarea,textarea{display:inline;-webkit-margin-before:1em;-webkit-margin-after:1em;-webkit-margin-start:40px;-webkit-margin-end:40px;padding:10px;background:#d6d6d6;border:1px solid #333;font-family:Arial;color:#585b55;font-size:12px;font-weight:bold}

.footer-shadow {
	width: 100%;
	height: 24px;
	border-bottom: 1px solid #333;
	box-shadow: -12px 16px 16px -8px black;
	z-index: 1000;
	position: relative;
}

.footer,footer{background:#00A185;width:100%;height:300px;color:#efefef;padding:10px;box-sizing:border-box}.social-icons{float:right}.social-icons img{margin-left:10px}.social-buttons{margin-top:55px;float:right}footer a{color:#FFFFFF;opacity:0.5}footer a:hover{opacity:1}.copyright, copyright{width:100%;display:block;margin-top:218px}img{-webkit-user-drag:none}
.blockquote, blockquote:after{content:open-quote;font-size:42px;float:right}.blockquote, blockquote:before{content:close-quote;font-size:42px}